<a href="https://colab.research.google.com/github/Tony14100/Date-cocktail/blob/main/SQL_%D1%81%D0%BE%D0%B7%D0%B4%D0%B0%D1%82%D1%8C_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
con = sqlite3.connect("database")

In [ ]:
df = pd.DataFrame({'col':[1,2,3],'col_2':[2,4,6]})

In [ ]:
df.to_sql('test',con)

In [ ]:
sql='''select *from test'''

In [ ]:
pd.read_sql(sql,con)

   index  col  col_2
0      0    1      2
1      1    2      4
2      2    3      6

In [ ]:
con = sqlite3.connect('database') 
data = pd.read_sql_query('SELECT * from sqlite_master where type= "table";', con) 
  
# show first 5 table names
data.head()

,type,name,tbl_name,rootpage,sql
0,table,test,test,2,"CREATE TABLE ""test"" (\n""index"" INTEGER,\n ""co..."

In [ ]:
df = pd.read_sql("SELECT * FROM test", con)

In [ ]:
df

   index  col  col_2
0      0    1      2
1      1    2      4
2      2    3      6