<a href="https://colab.research.google.com/github/Tony14100/Date-cocktail/blob/main/%D0%94%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5_%D0%B4%D0%BB%D1%8F_%D0%BF%D0%BE%D1%81%D1%82%D1%83%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_%D0%B2_%D0%B2%D1%83%D0%B7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Баллы GRE (из 340 )
Баллы TOEFL (из 120 )
Рейтинг университета (из 5)
Заявление о цели (SOP) и рекомендательное письмо (LOR) Сила (из 5 )
Средний балл бакалавра (из 10 )
Опыт исследовательской работы (0 или 1 )
Шанс поступления (в диапазоне от 0 до 1).

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras import layers
from matplotlib import pyplot as plt
from matplotlib import rcParams
import seaborn as sns

In [27]:
%load_ext tensorboard

In [28]:
import tensorflow as tf
import datetime

In [ ]:
# Clear any logs from previous runs
rm -rf ./logs/

In [2]:
df = pd.read_csv('/content/adm_data.csv')

In [3]:
df.head(5)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [19]:
df.rename(columns = {'Serial No.' : 'Serial_No','GRE Score':'GRE_Score','TOEFL Score':'TOEFL_Score','University Rating':'University_Rating','Chance of Admit ':'chance_admit'}, inplace = True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial_No          400 non-null    int64
 1   GRE_Score          400 non-null    int64
 2   TOEFL_Score        400 non-null    int64
 3   University_Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   chance_admit       400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [21]:
df.head()

,Serial_No,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research,chance_admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [6]:
pd.options.display.max_rows = 10
pd.options.display.float_format = "{:.1f}".format

from google.colab import widgets
# For facets
from IPython.core.display import display, HTML
import base64
!pip install facets-overview==1.0.0
from facets_overview.feature_statistics_generator import FeatureStatisticsGenerator

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting facets-overview==1.0.0
  Downloading facets_overview-1.0.0-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: protobuf>=3.7.0 in /usr/local/lib/python3.7/dist-packages (from facets-overview==1.0.0) (3.19.6)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from facets-overview==1.0.0) (1.21.6)
Requirement already satisfied: pandas>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from facets-overview==1.0.0) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.22.0->facets-overview==1.0.0) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.22.0->facets-overview==1.0.0) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.22.0->facets-overview==1.0.0) (1.15.0)
Installing collected packages: facets-overview
Successfully installed facets-overview-1.0.0

In [ ]:
fsg = FeatureStatisticsGenerator()
dataframes = [
    {'table': df, 'name': 'trainData'}]
censusProto = fsg.ProtoFromDataFrames(dataframes)
protostr = base64.b64encode(censusProto.SerializeToString()).decode("utf-8")


HTML_TEMPLATE = """<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.3.3/webcomponents-lite.js"></script>
        <link rel="import" href="https://raw.githubusercontent.com/PAIR-code/facets/1.0.0/facets-dist/facets-jupyter.html">
        <facets-overview id="elem"></facets-overview>
        <script>
          document.querySelector("#elem").protoInput = "{protostr}";
        </script>"""
html = HTML_TEMPLATE.format(protostr=protostr)
display(HTML(html))

In [ ]:
SAMPLE_SIZE =  400#@param
  
train_dive = df.sample(SAMPLE_SIZE).to_json(orient='records')

HTML_TEMPLATE = """<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.3.3/webcomponents-lite.js"></script>
        <link rel="import" href="https://raw.githubusercontent.com/PAIR-code/facets/1.0.0/facets-dist/facets-jupyter.html">
        <facets-dive id="elem" height="600"></facets-dive>
        <script>
          var data = {jsonstr};
          document.querySelector("#elem").data = data;
        </script>"""
html = HTML_TEMPLATE.format(jsonstr=train_dive)
display(HTML(html))

In [23]:
import tensorflow as tf
from tensorflow.keras import layers

In [42]:
train_df = df.sample(frac=0.8, random_state=0)
test_df = df.drop(train_df.index)

In [43]:
train_features = train_df.copy()
test_features = test_df.copy()

train_labels = train_features.pop('chance_admit')
test_labels = test_features.pop('chance_admit')

In [44]:
train_features = np.array(df_features)
train_features

array([[  1.  , 337.  , 118.  , ...,   4.5 ,   9.65,   1.  ],
       [  2.  , 324.  , 107.  , ...,   4.5 ,   8.87,   1.  ],
       [  3.  , 316.  , 104.  , ...,   3.5 ,   8.  ,   1.  ],
       ...,
       [398.  , 330.  , 116.  , ...,   4.5 ,   9.45,   1.  ],
       [399.  , 312.  , 103.  , ...,   4.  ,   8.78,   0.  ],
       [400.  , 333.  , 117.  , ...,   4.  ,   9.66,   1.  ]])

In [45]:
normalize = layers.Normalization()

In [46]:
normalize.adapt(df_features)

In [63]:

%%time
history=norm_df_model = tf.keras.Sequential([
  normalize,
  layers.Dense(64),
  layers.Dense(1)
])
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=log_dir, histogram_freq=1)

norm_df_model.compile(loss = tf.losses.MeanSquaredError(),
                           optimizer = tf.optimizers.Adam())

norm_df_model.fit(train_features, df_labels, epochs=15,
callbacks=[tensorboard_callback])

Epoch 1/15
13/13 [==============================] - 0s 5ms/step - loss: 0.8608
Epoch 2/15
13/13 [==============================] - 0s 6ms/step - loss: 0.4272
Epoch 3/15
13/13 [==============================] - 0s 5ms/step - loss: 0.2425
Epoch 4/15
13/13 [==============================] - 0s 6ms/step - loss: 0.1354
Epoch 5/15
13/13 [==============================] - 0s 5ms/step - loss: 0.0718
Epoch 6/15
13/13 [==============================] - 0s 5ms/step - loss: 0.0371
Epoch 7/15
13/13 [==============================] - 0s 5ms/step - loss: 0.0200
Epoch 8/15
13/13 [==============================] - 0s 5ms/step - loss: 0.0116
Epoch 9/15
13/13 [==============================] - 0s 6ms/step - loss: 0.0077
Epoch 10/15
13/13 [==============================] - 0s 5ms/step - loss: 0.0058
Epoch 11/15
13/13 [==============================] - 0s 5ms/step - loss: 0.0049
Epoch 12/15
13/13 [==============================] - 0s 6ms/step - loss: 0.0043
Epoch 13/15
13/13 [==============================] - 0s 6ms/step - loss: 0.0040
Epoch 14/15
13/13 [==============================] - 0s 6ms/step - loss: 0.0039
Epoch 15/15
13/13 [==============================] - 0s 6ms/step - loss: 0.0039
CPU times: user 1.66 s, sys: 55.8 ms, total: 1.71 s
Wall time: 1.75 s

In [65]:
norm_df_model.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 normalization_2 (Normalizat  (None, 8)                17
 ion)

 dense_16 (Dense)            (None, 64)                576

 dense_17 (Dense)            (None, 1)                 65

=================================================================
Total params: 658
Trainable params: 641
Non-trainable params: 17
_________________________________________________________________

In [ ]:
%tensorboard --logdir logs/fit

In [70]:
norm_df_model.save('test')
reloaded = tf.keras.models.load_model('test')