In [ ]:
!pip install mysql.connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 33.0 MB/s
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp37-cp37m-linux_x86_64.whl size=247965 sha256=1b27edbf2616a51d5523d97bc826a42d31e16c3297dee1dc3b5138ef16a48f4f
  Stored in directory: /root/.cache/pip/wheels/42/2f/c3/692fc7fc1f0d8c06b9175d94f0fc30f4f92348f5df5af1b8b7
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [ ]:
import sqlite3
import pandas as pd
import mysql.connector
import sqlalchemy

In [ ]:
# это расширение позволяет нам подключаться к базе данных и выдавать SQL-команду%load_ext sql
%load_ext sql

In [ ]:
# теперь мы можем использовать расширение magic для подключения к нашей базе данных SQLite
# уквзываем путь к базе даных 
%sql sqlite:////content/mental_health.sqlite

'Connected: @/content/mental_health.sqlite'

In [ ]:
# После подключения к Northwind DB давайте сначала проверим, какой движок базы данных мы используем.
%%sql
SELECT sqlite_version();

 * sqlite:////content/mental_health.sqlite
Done.

[('3.22.0',)]

In [ ]:
# Сколько таблиц в этой базе данных?
%%sql
SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';

 * sqlite:////content/mental_health.sqlite
Done.

[]

In [ ]:
# Как выглядит таблица категорий?
%sql PRAGMA table_info([Categories]);

 * sqlite:////content/mental_health.sqlite
Done.

[]

In [ ]:
con = sqlite3.connect('/content/mental_health.sqlite')

In [ ]:
data = pd.read_sql_query('SELECT * from Answer', con)

In [ ]:
data.head()

  AnswerText  SurveyID  UserID  QuestionID
0         37      2014       1           1
1         44      2014       2           1
2         32      2014       3           1
3         31      2014       4           1
4         31      2014       5           1