<a href="https://colab.research.google.com/github/Tony14100/Date-cocktail/blob/main/%D0%9E%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7_sql_%D1%81_%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%BE%D0%B9_pandas_customer_sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install mysql.connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 7.9 MB/s
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp37-cp37m-linux_x86_64.whl size=247965 sha256=83aff48e98139d94d6ff60d0ab336660a5a1b3eb07cfd4ad3c65b3f559a56b25
  Stored in directory: /root/.cache/pip/wheels/42/2f/c3/692fc7fc1f0d8c06b9175d94f0fc30f4f92348f5df5af1b8b7
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [ ]:
import sqlite3
import pandas as pd
import mysql.connector
import sqlalchemy

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:////content/Newspaper.sqlite

'Connected: @/content/Newspaper.sqlite'

In [ ]:
# После подключения к Northwind DB давайте сначала проверим, какой движок базы данных мы используем.
%%sql
SELECT sqlite_version();

 * sqlite:////content/Newspaper.sqlite
   sqlite:////content/customer.sqlite
   sqlite:////content/mental_health.sqlite
Done.

[('3.22.0',)]

In [ ]:
# Сколько таблиц в этой базе данных?
%%sql
SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';

 * sqlite:////content/Newspaper.sqlite
   sqlite:////content/customer.sqlite
   sqlite:////content/mental_health.sqlite
Done.

[('Telegraph',), ('HindustanTimes',), ('IndianExpress',), ('FPJ',)]

In [ ]:
# Как выглядит таблица категорий?
%sql PRAGMA table_info([Categories])

 * sqlite:////content/Newspaper.sqlite
   sqlite:////content/customer.sqlite
   sqlite:////content/mental_health.sqlite
Done.

[]

In [ ]:
con = sqlite3.connect('/content/Newspaper.sqlite')

In [ ]:
df_1 = pd.read_sql_query('SELECT Summary,Date from FPJ',con)

In [ ]:
df_1.head()

                                             Summary                     Date
0  The BMC fears that this could lead to spike in...  14-December-2020 Monday
1  Four years after the Bollywood actor Hrithik R...  14-December-2020 Monday
2  Now, replying to these fake accounts can get y...  14-December-2020 Monday
3  Russia's Sputnik V has shown 91.4% efficacy, a...  14-December-2020 Monday
4  The ruling Bharatiya Janata Party (BJP) in Goa...  14-December-2020 Monday

In [ ]:
df_1

In [ ]:
df_telegraph.head(2)

,Headline,Article,Summary,Date,Image,Tag,URL
0,Make-do infrastructure at Singhu border symbol...,Farmers came with rations for months\n\nFarmer...,"Devoid of frills, the make-do infrastructure s...",14-December-2020 Monday,https://assets.telegraphindia.com/telegraph/20...,india,https://www.telegraphindia.com/india/make-do-i...
1,"Farmers start day-long fast, vows to intensify...",Multi-layered barriers across Delhi border\n\n...,Delhi Chief Minister Arvind Kejriwal on Monday...,14-December-2020 Monday,https://assets.telegraphindia.com/telegraph/20...,india,https://www.telegraphindia.com/india/farmers-s...

In [ ]:
df_HindustanTimes.head(2)

,Headline,Article,Summary,Date,Image,Tag,URL
0,Congress pulls ahead of BJP in Rajasthan urban...,"BJP also fell behind Independents, who won 596...","BJP also fell behind Independents, who won 596...",14-December-2020 Monday,https://images.indianexpress.com/2020/12/local...,india,https://indianexpress.com/article/india/cong-p...
1,"Amid new farm laws, pandemic, Madhya Pradesh m...",The Shahdol Mandi in Madhya Pradesh. Barring m...,(Express photo)The Krishi Upaj mandi at Shahdo...,14-December-2020 Monday,https://images.indianexpress.com/2020/12/pic-5...,india,https://indianexpress.com/article/india/amid-n...

In [ ]:
df_IndianExpress.head(2)

,Headline,Article,Summary,Date,Image,Tag,URL
0,Congress pulls ahead of BJP in Rajasthan urban...,"BJP also fell behind Independents, who won 596...","BJP also fell behind Independents, who won 596...",14-December-2020 Monday,https://images.indianexpress.com/2020/12/local...,india,https://indianexpress.com/article/india/cong-p...
1,"Amid new farm laws, pandemic, Madhya Pradesh m...",The Shahdol Mandi in Madhya Pradesh. Barring m...,(Express photo)The Krishi Upaj mandi at Shahdo...,14-December-2020 Monday,https://images.indianexpress.com/2020/12/pic-5...,india,https://indianexpress.com/article/india/amid-n...

In [ ]:
df_FPJ.head(2)

,Headline,Article,Summary,Date,Image,Tag,URL
0,Coronavirus in Mumbai: Four hotels and pubs fo...,While the hotels/night clubs have been found o...,The BMC fears that this could lead to spike in...,14-December-2020 Monday,https://gumlet.assettype.com/freepressjournal%...,mumbai,https://www.freepressjournal.in//mumbai/corona...
1,Hrithik Roshan vs Kangana Ranaut case: FIR tra...,Four years after the Bollywood actor Hrithik R...,Four years after the Bollywood actor Hrithik R...,14-December-2020 Monday,https://gumlet.assettype.com/freepressjournal%...,mumbai,https://www.freepressjournal.in//mumbai/hrithi...