<a href="https://colab.research.google.com/github/Tony14100/Date-cocktail/blob/main/%D0%9F%D0%B0%D1%80%D1%81%D0%B8%D0%BD%D0%B3_aliexpress_%D1%87%D0%B0%D1%81%D1%8B_%D1%81_%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%BE%D0%B9_BeautifulSoup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install lxml
!pip install requests
!pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.9.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
from bs4 import BeautifulSoup
import requests
from time import sleep
import pandas as pd
from google.colab import files

In [ ]:
url = 'https://aliexpress.ru/wholesale?catId=&SearchText=часы'

In [ ]:
page = requests.get(url)

In [ ]:
print(page.status_code)

200

In [ ]:
soup = BeautifulSoup(page.text, "html.parser")
soup

In [ ]:
soup.find('div', class_='product-snippet_ProductSnippet__content__152uer')

In [ ]:
link = 'https://aliexpress.ru'+soup.find('div', class_='product-snippet_ProductSnippet__content__1ettdy').find('a', class_= 'product-snippet_ProductSnippet__galleryBlock__1ettdy').get('href')
link

'https://aliexpress.ru/item/1005003907872881.html?sku_id=12000027438926202'

In [ ]:
name_of_the_watch = soup.find('div', class_='product-snippet_ProductSnippet__content__152uer').find('div', class_= 'product-snippet_ProductSnippet__name__152uer').text
name_of_the_watch

AttributeError: ignored

In [ ]:
price = soup.find('div', class_='product-snippet_ProductSnippet__content__152uer').find('div', class_= 'snow-price_SnowPrice__mainS__wuoiot').text
price

In [ ]:
bought_a_person = soup.find('div', class_='product-snippet_ProductSnippet__content__152uer').find('div', class_= 'product-snippet_ProductSnippet__sold__152uer').text
bought_a_person

In [ ]:
watchs = soup.findAll('div', class_='product-snippet_ProductSnippet__content__152uer')
len(watchs)

In [ ]:
 watchs = soup.findAll('div', class_='product-snippet_ProductSnippet__content__152uer')

 data = []     
 for watch in watchs:
        link = link = 'https://aliexpress.ru'+watch.find('a', class_= 'product-snippet_ProductSnippet__galleryBlock__152uer').get('href')
        name_of_the_watch = watch.find('div', class_= 'product-snippet_ProductSnippet__name__152uer').text
        price = watch.find('div', class_= 'snow-price_SnowPrice__mainS__wuoiot').text
        bought_a_person = watch.find('div', class_= 'product-snippet_ProductSnippet__sold__152uer').text
    
    
        data.append([link, name_of_the_watch, price, bought_a_person])

In [ ]:
data

In [ ]:
data = []

for p in range(1, 49):#прогон по стриницам 
    print(p)

    url = f'https://aliexpress.ru/wholesale?catId=&SearchText={p}'
    r = requests.get(url)
    sleep(2) #задержка в секундах 
    soup = BeautifulSoup(r.text, 'lxml')
    watch = soup.findAll('div', class_='gallery_Gallery__switchHoverOverlay__1ln22f gallery_Gallery__withGallery__1ln22f')
   
    
    for watch in watchs:
        link = link = 'https://aliexpress.ru'+watch.find('a', class_= 'product-snippet_ProductSnippet__galleryBlock__152uer').get('href')
        name_of_the_watch = watch.find('div', class_= 'product-snippet_ProductSnippet__name__152uer').text
        price = watch.find('div', class_= 'snow-price_SnowPrice__mainS__wuoiot').text
        bought_a_person = watch.find('div', class_= 'product-snippet_ProductSnippet__sold__152uer').text
    
    
        data.append([link, name_of_the_watch, price, bought_a_person])

In [ ]:
len (data)

2880

In [ ]:
header = ['link', 'name_of_the_watch', 'price', 'bought_a_person']

In [ ]:
df = pd.DataFrame(data , columns=header)
df.to_csv('watch.csv')

In [ ]:
df

,link,name_of_the_watch,price,bought_a_person
0,https://aliexpress.ru/item/1005004018894215.ht...,LEMFO смарт часы мужские женские 4G 64GB LEM10...,"7 086,84 руб.",53 купили
1,https://aliexpress.ru/item/1005003987955323.ht...,LEMFO DM10 Max смарт часы мужские женские 280m...,"2 576,61 руб.",113 купили
2,https://aliexpress.ru/item/1005004530246452.ht...,Смарт-часы мужские/женские с поддержкой Blueto...,"2 354,45 руб.",1237 купили
3,https://aliexpress.ru/item/1005004592416851.ht...,LEMFO HK43 смарт часы женские IP68 водонепрони...,"2 348,41 руб.",38 купили
4,https://aliexpress.ru/item/1005003020638730.ht...,"TSAR BOMBA Часы мужские наручные, Роскошные Кв...","11 409,15 руб.",59 купили
...,...,...,...,...
2875,https://aliexpress.ru/item/1005004062541726.ht...,2022 роскошные японские брендовые кварцевые ча...,"1 819,53 руб.",205 купили
2876,https://aliexpress.ru/item/1005004482621091.ht...,"Женские и мужские Смарт-часы Maimo, из нержаве...","3 288,04 руб.",130 купили
2877,https://aliexpress.ru/item/1005003460920529.ht...,"Часы наручные женские кварцевые, Брендовые спо...","167,12 руб.",61 купили
2878,https://aliexpress.ru/item/1005003727800444.ht...,"Новинка, детские часы Disney, Мультяшные аниме...","202,69 руб.",37 купили
2879,https://aliexpress.ru/item/1005002232773903.ht...,Часы LIGE мужские водонепроницаемые со стальны...,"2 683,99 руб.",104 купили

In [ ]:
files.download('watch.csv')

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving watch (1).csv to watch (1).csv

In [ ]:
df_watch = pd.read_csv('watch (1).csv')

In [ ]:
df_watch

,Unnamed: 0,link,name_of_the_watch,price,bought_a_person
0,0,https://aliexpress.ru/item/1005004018894215.ht...,LEMFO смарт часы мужские женские 4G 64GB LEM10...,"7 086,84 руб.",53 купили
1,1,https://aliexpress.ru/item/1005003987955323.ht...,LEMFO DM10 Max смарт часы мужские женские 280m...,"2 576,61 руб.",113 купили
2,2,https://aliexpress.ru/item/1005004530246452.ht...,Смарт-часы мужские/женские с поддержкой Blueto...,"2 354,45 руб.",1237 купили
3,3,https://aliexpress.ru/item/1005004592416851.ht...,LEMFO HK43 смарт часы женские IP68 водонепрони...,"2 348,41 руб.",38 купили
4,4,https://aliexpress.ru/item/1005003020638730.ht...,"TSAR BOMBA Часы мужские наручные, Роскошные Кв...","11 409,15 руб.",59 купили
...,...,...,...,...,...
2875,2875,https://aliexpress.ru/item/1005004062541726.ht...,2022 роскошные японские брендовые кварцевые ча...,"1 819,53 руб.",205 купили
2876,2876,https://aliexpress.ru/item/1005004482621091.ht...,"Женские и мужские Смарт-часы Maimo, из нержаве...","3 288,04 руб.",130 купили
2877,2877,https://aliexpress.ru/item/1005003460920529.ht...,"Часы наручные женские кварцевые, Брендовые спо...","167,12 руб.",61 купили
2878,2878,https://aliexpress.ru/item/1005003727800444.ht...,"Новинка, детские часы Disney, Мультяшные аниме...","202,69 руб.",37 купили
2879,2879,https://aliexpress.ru/item/1005002232773903.ht...,Часы LIGE мужские водонепроницаемые со стальны...,"2 683,99 руб.",104 купили

In [ ]:
df_watch.describe()

        Unnamed: 0
count  2880.000000
mean   1439.500000
std     831.528713
min       0.000000
25%     719.750000
50%    1439.500000
75%    2159.250000
max    2879.000000

In [ ]:
df_watch.dtypes

Unnamed: 0            int64
link                 object
name_of_the_watch    object
price                object
bought_a_person      object
dtype: object

In [ ]:
df_watch.shape

(2880, 5)

In [ ]:
df_watch.size

14400

In [ ]:
import seaborn as sns
import matplotlib.pyplot as pl